/* ******* general ******* */
:root {
  --boardWidth: 500px;
  --black_color: #555d;
  --white_color: #eeed;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./media/wood.jpg);
  background-size: cover;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
}
/* ******* ------- ******* */
/* ******* control board ******* */
.control_board {
  grid-column: 1/4;
  padding: 10px;
  box-sizing: border-box;
  background-color: #d88d0eaa;
  color: white;
  display: flex;
  gap: 20px;
  font-size: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* test mode */
.control_board label {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.control_board label input {
  display: none;
}
.control_board label span {
  display: inline-block;
  height: 15px;
  width: 25px;
  border-radius: 15px;
  margin-right: 5px;
  padding: 1px;
  background-color: white;
  position: relative;
}
.control_board label span::after {
  content: "";
  height: 15px;
  width: 18px;
  border-radius: 15px;
  position: absolute;
  top: 1px;
  transform: translateX(0);
  left: 1px;
  transform: translateX(0);

  background-color: #aaa;
  transition-duration: 0.15s;
}
.control_board label input:checked + span::after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background-color: #d88d0e;
}
button {
  outline: none;
  border: solid white 1px;
  background-color: #d88d0e;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 10px;
}
/* ******* ------------- ******* */

/* ******* chess board ******* */
.chess_board {
  display: grid;
  /* height: var(--boardWidth); */
  width: var(--boardWidth);
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  position: relative;
  transform: rotate(0deg) scale(1);
}
.rotatingBoard.roundB,
.rotatingBoard.roundW {
  animation-name: roundAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.rotatingBoard.roundB {
  animation-direction: normal;
}
.rotatingBoard.roundW {
  animation-direction: reverse;
}
@keyframes roundAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(0.5);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}

/* boxes */
.chess_board .box {
  position: relative;
  transition-duration: 0.3s;
}
.chess_board .box.d {
  background-color: var(--black_color);
}
.chess_board .box.l {
  background-color: var(--white_color);
}
.chess_board .box::after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}
.chess_board .box.danger::before,
.chess_board .box.available::after {
  cursor: pointer;
}
.chess_board .box.available::after {
  background-color: #0030ef77;
}
.chess_board .box.danger::after,
.chess_board .box.ksh::after {
  background-color: #e6051077;
}
.graveyard.available::before,
.chess_board .box.danger::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
}
.chess_board .box .hSeq,
.chess_board .box .vSeq {
  position: absolute;
  color: #000;
  font-size: 9px;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.rotatingBoard.roundB .box .hSeq,
.rotatingBoard.roundB .box .vSeq {
  transform: rotate(180deg);
}
.chess_board .box .hSeq {
  bottom: 2px;
  right: 2px;
}
.chess_board .box .vSeq {
  left: 2px;
  top: 2px;
}
/* Pieces */
.chess_board .chess_piece {
  width: calc(var(--boardWidth) / 8 - 8px);
  height: calc(var(--boardWidth) / 8 - 8px);
  padding: 4px;
  position: absolute;
  transition-property: left, bottom;
  transition-duration: 0.3s;
  z-index: 5;
  transform: rotate(0);
  cursor: pointer;
}
.rotatingBoard .chess_piece[alt^="b"] {
  transform: rotate(180deg);
}
.graveyard .chess_piece {
  width: calc(var(--boardWidth) / 16 - 4px);
  height: calc(var(--boardWidth) / 16 - 4px);
  padding: 2px;
}
/* ******* ----------- ******* */
/* ******* pawn_promotion ******* */
.pawn_promotion,
.winner {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #0007;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
}
.pawn_promotion.visible,
.winner.visible {
  visibility: visible;
  opacity: 1;
}
.pawn_promotion .counter,
.winner p {
  padding: 50px 100px;
  background-color: white;
  font-size: 50px;
}
.pawn_promotion.b .w {
  display: none;
}
.pawn_promotion.w .b {
  display: none;
}
/* ******* -------------- ******* */

/* ******* graveyard ******* */
.graveyard {
  /* height: var(--boardWidth); */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(var(--boardWidth) / 16);
  position: relative;
}
[location="gb"] {
  background-color: var(--black_color);
}
[location="gw"] {
  background-color: var(--white_color);
}
.graveyard.available {
  background-color: #0030efc4;
}
/* ******* --------------- ******* */

/* ******* history ******* */
.history {
  grid-column: 1/4;
  display: flex;
  gap: 5px;
  max-width: 100%;
  height: calc(var(--boardWidth) / 16);
}
.history button {
  font-size: 18px;
}
.history div {
  flex-grow: 1;
  width: 0;
}
.history p {
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: end;
  white-space: nowrap;
  font-size: 12px;
}
.history p span {
  padding: 1px 5px;
}
.history p span.here {
  background-color: #fff9;
}
.history > * {
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
  background-color: #d88d0eaa;
  color: #121;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}
/* ******* ------- ******* */

/* ******* phone settings ******* */
@media (max-width:767px){
  .container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .chess_board {
    width: 100%;
    height: var(--boardWidth);
  }
  .graveyard{
    order: 2;
    height:  calc(var(--boardWidth) / 16);
    width: 100%;
    flex-direction: row;
  }
  .history{
    order: 2;
  }
  .control_board label{
    font-size: 9px;
  }
  button{
    font-size: 8px ;
  }
  .history button{
    font-size: 11px;
  }
  .control_board label span{
    height: 10px;
    width: 15px;
  }
  .control_board label span::after{
    height: 10px;
    width: 10px;
  }
  .chess_board .box .hSeq, .chess_board .box .vSeq{
    font-size: 6px;
    height: 7px;
  width: 7px;
  }
}
/* ******* -------------- ******* */